 body{
  margin: 0%;
  background-color: rgba(255, 255, 255, 0.548);
}

video{
  position: fixed;
}

div{
  position: absolute;
  top: 15%;
  left: 35%;
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 40px;
  min-width: 350px;
}

input{
  width: 300px;
  min-width: 100px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

input:focus{
  outline: none;
  color: white;
  background-color: rgba(70, 131, 180, 0.35);
}

button{
  margin: 20px;
  width: 80px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
  background-color: blue;
  border-radius: 5px;
  border: none;
  background-color: rgb(175, 102, 243);
}
